body {
  margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
}

h1 {
  margin: 0;
  font-size: 1.9em;
  line-height: 1.1;
}
h2 {
  margin: 10px 0 0 0;
}
ul {
  padding: 0;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
input {
  width: 220px;
}
a {
  text-decoration: none;
}
